.mContainer {
  padding: 5%;
  color: darkblue;
  padding: 0 2%;
  margin: 1% 0;
  word-wrap: break-word;
  border-radius: 10px;
  font-size: 1.2em;
}

.mContainer p {
  margin:0;
  padding: 1%;
}

.myMsg {
  justify-content: flex-end;
  text-align: right;
  word-wrap: break-word;
  background-color: rgba(214, 197, 88, 0.705);
}

.myMsg p:nth-child(2) {
  color: rgb(20, 20, 22);
  font-size: 1rem;

}

.myMsg p:nth-child(1) {
  color:  rgb(20, 20, 22);
  font-size: 1rem;

}

.userMsg {
  background: rgba(224, 223, 168, 0.3);
}

.userMsg p {
  color: black; 
  font-size: 1rem;
}

.msgInfo {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
  text-align: right;
  margin:0;
  padding: 1% 0;
}

.toRyt {
  justify-content: flex-end;
}

.toLeft {
  justify-content: flex-start;
}

.mContainer h3 {
  margin: 0;
}

.mContainer button {
  border: 1px solid saddlebrown;
  cursor: pointer;
  border: none;
  color: maroon;
  background:none;
}

.msgInfo span {
  color: maroon;
  font-size: 0.8rem;
  margin: 0 1%;
}

.mContainer button:hover {
  transform: scale(1.05);
  filter: grayscale(100%);
}
